<button class="btn btn-primary" type="button">
    {{ label}}
</button>
<button class="btn btn-secondary" type="button">
    {{ label}}
</button>
<button class="btn btn-warning" type="button">
    {{ label}}
</button>
<button class="btn btn-danger" type="button">
    {{ label}}
</button>
<button class="btn btn-success" type="button">
    {{ label}}
</button>